{% extends 'app/base.html' %}
{% block body %}
<form action="{% url 'how_populated' %}" method="GET" class="col-3">
    <div class="form-group">
        <label>
            Your Population
            <input type="text" name="population_input" class="form-control" placeholder="miles">
        </label>
    </div>
    <div class="form-group">
        <label>
            Your Land Area
            <input type="text" name="land_area_input" class="form-control" placeholder="miles">
        </label>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">How Populated</button>
    </div>
    {% if answer is not None %}
    <h3>Answer: {{ answer }}</h3>
    {% endif %}
</form>
{% endblock body %}